body{
    background-color: rgb(90, 53, 53);
    background-image: url(./coffeecafe/beensbac.jpg);
    text-align: center;
    color: rgb(59, 18, 18);
    align-items: center;
        
}
.select{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;

}
.box{
    margin: 10px;
    width: 1000px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;  
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transition: .5s;
    margin-left: 100px;

    columns: repeat(3, 1fr);

}

.box img{
    width: 300px;
    height: 200px;
    align-items: center;
    border-radius: 10px;
}
.box:hover{
    transform: scale(1.1);
}

.logo{
    background-color:rgb(31, 24, 24);
    position: sticky;
    top: 0%;
}

.logo img{
    width: 150px;
    filter: invert(1.3);
    margin-top: -45px;
    margin-bottom: 0%;
    transition: all;
    
}
h1{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-style: italic;
    font-size: 100px;
    margin-top: -65px;
    
}
h1:hover{
    color: rgb(121, 92, 92);
    transition: .3s;
}
h2{
    font-family: 'Square Peg', cursive;
    font-size: 50px;
    color: white;
}
h2:hover{
    color: rgb(121, 92, 92);
    transition: .3s;
}
h5{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: small;
    margin-top: -70px;
    color: white;
}
h5:hover{
    color: rgb(6, 5, 5);
    transition: .3s;
}

h3{
    font-family: 'Nothing You Could Do', cursive;
    color: rgb(237, 222, 222);
}

div.para{
    border: 10px rgb(123, 97, 97);
    width: 800px;
    height:250px;
    border-radius: 10px;
    background-image: url(./coffeecafe/CoffeePhoto.jpg);
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    
   
}
a.com{
    color: white;
    text-align: right;
}
nav{
    display: block;
    margin-left: 310px;
    margin-right: 310px;
    line-height: 15px;
    margin-top: -30px;
    color: white;
    font-size: 18px;
    border-radius: 3px;
    size: 20px 20px;
    text-transform: capitalize;
    
    
}
nav:hover{
    background: #351414;
    transition: .3s;
}
h4{
    color: white;
    font-size: 50px;
    font-family: 'Euphoria Script', cursive;
}
h4:hover{
    color: rgb(41, 22, 22);
    transition: .3s;
}

.wrapper{
    width: 100%;
}
.wrapper .container{
    padding-top: 10px;
}
.wrapper .container .hero-section{
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    
}
.wrapper .container .hero-section .gallery{
    width: 100%;
    position: relative;
}
.wrapper .container .hero-section .gallery .image-section{
    width: 100%;
}
.wrapper .container .hero-section .gallery .image-section img{
    width: 100%;
    height:auto ;
    border: 2px solid rgb(120, 108, 108);
    margin: 10px;
    padding: 5px;
    display: grid;
    border-radius: 5px;
}
.wrapper .container .hero-section .gallery .caption{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 16px;
    top: 0;
    left: 0;
    cursor: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(3, 2, 2);
    opacity: 0;
    transition: opacity 0.1s;
    border-radius: 5px;
}
.wrapper .container .hero-section .gallery .caption:hover{
    opacity: 100;
    mask-image: none;
}
.wrapper .container .hero-section .gallery .caption p{
    font-size: 6px;
}
@media screen and (max-width: 992px) {
    .wrapper .container .hero-section{
        grid-template-columns: repeat(3, 1fr);
    }    
}
@media screen and (max-width: 568px) {
    .wrapper .container .hero-section{
        grid-template-columns: repeat(1fr);
    }    
}
div.star{
    width: 60%;
    height: 300px;
    background-color: #dfdfdf;
    border-radius: 5px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}
.star img{
    width: 400px;
    height: 100%;
    display: flex;
    border-radius: 5px;
}
div.costa{
    width: 60%;
    height: 300px;
    background-color: #110d0d;
    border-radius: 5px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    padding: 40px;

}
.costa img{
    width: 400px;
    height: 100%;
    display: flex;
    border-radius: 5px;
}
div.mccafe{
    width: 60%;
    height: 300px;
    background-color: #dfdfdf;
    border-radius: 5px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.mccafe img{
    width: 400px;
    height: 100%;
    display: flex;
    border-radius: 5px;
}
#p1{
    color: #614747;
    margin-right: 15px;
    padding-top: 100px;
}
#hcafe{
    color: #794040;
    font-size: x-large;
    font-weight: 200;
    font-family: 'Rock Salt', cursive;
}
div.table{
    background-color: #301212;
    height: 190px;
    width: 210px;
    margin-left: 650px;
    border-radius: 10px;
   
}
.table:hover{
    background-color: #5a4f4f;
    transition: .1s;
}
